<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <%= html_page_title %>
    <%= stylesheet_link_tag 'application','facebox' %>
    <%= javascript_include_tag :defaults,'jquery','facebox' %>
  </head>
  <body onload="init()">
    <div id="container">

      <table cellpadding="0" cellspacing="0" width="100%">
        <tr><td>
            <table cellpadding="0" cellspacing="0" width="100%">

              <tr>
                <td width="100%" align="center" valign="top">
                  <div style="float:right;"><%= render :partial=>"shared/header_nav_search" %></div>
                  <div style="float:left;"><%= render :partial => "shared/header_dancehall" %></div>
                  <h1 style="margin-right:200px;">Welcome to BlogApp</h1>
                </td>
              </tr>
             </table>
        </td></tr>

        <tr><td>
            <table cellpadding="0" cellspacing="0" style="padding-top:30px;" width="100%">
              <tr><td>
                  <%= show_notices %>
                  <%= yield %>
              </td></tr>
            </table>
        </td></tr>
      </table>
    </div>
  </body>
</html>